body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

h1 {
    display: none;
}

/* --------- header ----------- */
.page-header {
    z-index: 10;
}
    /* ---------- hero ------------ */
    .page-header .hero-image {
        z-index: 0;
        width: 100%;
        min-width: 100%;
        height: 800px;
        background: url('../img/hero.jpg') no-repeat fixed;
        background-position: 75% center;
        -webkit-background-size: 100%; 
        -moz-background-size: 100%; 
        -o-background-size: 100%; 
        background-size: 100%; 
        -webkit-background-size: cover; 
        -moz-background-size: cover; 
        -o-background-size: cover; 
        background-size: cover; 
    }
    .page-header .hero {
        z-index: 5;
        margin-top: -800px;
        width: 100%;
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background: rgba(0, 0, 0, 0.4);
    }
    
    .hero .hero-content {
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 30%;
        background: rgba(0, 0, 0, 0.6);
    }
    
    .hero-content .hero-title {
        margin-bottom: 10px;
        font-size: 50px;
        color: #ffffff;
        font-weight: 700;
    }
    
    .hero-content .hero-subtitle {
        margin-left: 140px;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.7);
        font-weight: 700;
    }
    
    /* ---------- header-container ------------ */
    .page-header .header-container {
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        width: 100%;
        background: rgba(0, 0, 0, 0.7);
        transition: 0.3s ease-out;
    }

    .page-header .white {
        background:#ffffff;
    }

    .header-container a {
        text-decoration: none
    }
    .header-container .header-title {
        margin-left: 30px;
        font-size: 25px;
        color: #ffffff;
        font-weight: 700;
    }

    .white .header-title {
        color: #000000;
    }

    .header-container .header-nav {
        display: flex;
        margin-right: 50px;
    }

    .header-container .header-nav a {
        position: relative;
        margin-right: 20px;
        font-size: 18px;
        color: #ffffff;
        text-decoration: none;
    }

    .white .header-nav a {
        color: #000000;
    }

    .header-container .header-nav a::after {
        position: absolute;
        left: 50%;
        bottom: -3px;
        display: block;
        content: '';
        height: 2px;
        width: 0;
        background: #ffffff;
        transition: 0.2s;
        transform: translateX(-50%);
    }

    .white .header-nav a::after {
        background: #000000;
    }

    .header-container .header-nav a:hover::after {
        position: absolute;
        left: 50%;
        bottom: -3px;
        display: block;
        content: '';
        height: 2px;
        width: 100%;
        background: #ffffff;
        transform: translateX(-50%);
    }

    .white .header-nav a:hover::after {
        background: #000000;
    }
/* --------- main ----------- */
    /* ---------- portfolio ------------ */
    .portfolio {
        display: flex;
        padding-top: 100px;
    }

    .portfolio-container {
        width: 70%;
        margin: 0 40px;
    }

    .portfolio-container .portfolio-title {
        display: flex;
        margin-top: 50px;
        margin-left: 20%;
        font-size: 50px;
        color: #000000;
        font-weight: 900;
        text-transform: uppercase;
    }

    .portfolio-title .pointer {
        display: block;
        margin-left: 10px;
        width: 6px;
        height: 50px;
        background: rgba(0, 0, 0, 1);
        opacity: 0;
        animation-name: pointer;
        animation-duration: 0.7s;
        animation-iteration-count: infinite;
    }

    .portfolio-container .cards-container {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }

    .portfolio-container .cards-container .column {
        display: flex;
        flex-direction: column;
        width: 45%;
    }

    .cards-container .column .card {
        width: 100%;
        margin-bottom: 40px;
        text-decoration: none;
        background: grey;
        box-shadow: 3px -3px 20px -10px #000000;
    }

    .cards-container .column .card:last-child {
        margin-bottom: 0;
    }

    .cards-container .column .hexal {
        background: url('../img//works/hexal.jpg') top center no-repeat;
        background-size: cover;  
    }

    .cards-container .column .neutronmail {
        background: url('../img//works/neutronmail.jpg') top center no-repeat;
        background-size: cover;  
    }

    .cards-container .column .piskel-clone {
        background: url('../img//works/piskel-clone.png') top center no-repeat;
        background-size: cover;  
    }

    .cards-container .column .youtube {
        background: url('../img//works/youtube.png') top center no-repeat;
        background-size: cover;  
    }

    .cards-container .left-column .card {
        height: 250px;
    }

    .cards-container .right-column .card {
        height: 400px;
    }

    .column .card .card-cover {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.9);
        opacity: 0;
        transition: 0.1s ease-out;
    }

    .column .card:hover .card-cover {
       opacity: 1;
    }

    .column .card .card-content {
        padding: 50px;
    }

    .column .card .card-title {
        margin-bottom: 15px;
        font-size: 40px;
        color: #000000;
        font-weight: 700;
    }

    .column .card .card-description {
        font-size: 18px;
        color: #00000080;
        font-weight: 200;
        line-height: 22px;
    }
    .portfolio-parallax {
        z-index: 1;
        position: relative;
        width: 30%;
        height: 1100px;
        background: rgba(0, 0, 0, 0.1);
    }

    .portfolio-parallax .parallax-1 {
        z-index: 2;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: url('../img/parallax/parallax-1.png') no-repeat;
        background-size: 300%;
        background-position: 50% 50%;
    }

    .portfolio-parallax .parallax-2 {
        z-index: 3;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: url('../img/parallax/parallax-2.png') no-repeat;
        background-size: 250%;
        background-position: 50% 50%;
    }

    /* ----------about me------------- */
    main .about-me {
        z-index: 11;
        position: relative;
        width: 100%;
    }

    .about-me .about-me-image {
        z-index: 0;
        width: 100%;
        min-width: 100%;
        height: 800px;
        background: url('../img/about-me.jpg') no-repeat fixed;
        background-position: 80% center;
        -webkit-background-size: 100%; 
        -moz-background-size: 100%; 
        -o-background-size: 100%; 
         background-size: 100%; 
        -webkit-background-size: cover; 
        -moz-background-size: cover; 
        -o-background-size: cover; 
        background-size: cover; 
    }

    .about-me .about-me-content {
        z-index: 5;
        margin-top: -800px;
        width: 100%;
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background: rgba(0, 0, 0, 0.4);
    }

    .about-me .about-me-content-container {
        padding: 40px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        background: rgba(0, 0, 0, 0.8);
    }

    .about-me .about-me-title {
        display: flex;
        margin-left: 14%;
        margin-bottom: 20px;
        font-size: 50px;
        color: #ffffff;
        font-weight: 900;
        text-transform: uppercase;
    }

    .about-me .about-me-title .pointer {
        display: block;
        margin-left: 10px;
        width: 6px;
        height: 50px;
        background: rgba(255, 255, 255, 1);
        opacity: 0;
        animation-name: pointer;
        animation-duration: 0.7s;
        animation-iteration-count: infinite;
    }
    
    .about-me .about-me-text {
        max-width: 1000px;
        margin-left: 20%;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.4);
        font-weight: 200;
        line-height: 22px;
    }

    .about-me .about-me-text a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6);
        font-weight: 400;
    }

    .about-me .about-me-text a:hover {
        color: rgba(255, 255, 255, 1);
    }

    /* ----------contacts------------- */
    .contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 100px 0;
    }

    .contacts .contacts-title {
        font-size: 50px;
        color: #000000;
        font-weight: 900;
        text-transform: uppercase;
    }

    .contacts .contacts-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .contacts-content .social {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 30px;
    }

    .contacts-content .social a {
        margin-bottom: 30px;
        margin-right: 20px;
        font-size: 30px;
        color: rgba(0, 0, 0, 0.4);
    }

    .contacts-content a:hover {
        transition: 0.2s;
    }

    .contacts-content .social .github:hover {
        color: #6cc644;
    }

    .contacts-content .social .vk:hover {
        color: #45668e;
    }

    .contacts-content .social .telegram:hover {
        color: #0088cc;
    }
    
    .contacts-content a {
        text-decoration: none;
    }

    .contacts-content span {
        margin-top: 10px;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.6);
        font-weight: 200;
    }

    .contacts-content .email a, .contacts-content .phone-number a {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.6);
        font-weight: 400;
    }

    .contacts-content .email a:hover, .contacts-content .phone-number a:hover {
        color: rgba(0, 0, 0, 1);
    }

/* ------page footer------- */

.page-footer {
    height: 50px;
}

/* -------keyframes--------- */
@keyframes pointer {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 0.75;
    }

    80% {
        opacity: 100;
    }

    100% {
        opacity: 0.25;
    }
}

/* ------adaptive------- */

@media only screen and (max-width: 1080px) {
    .portfolio-container .cards-container .column {
        width: 49%;
    }
}

@media only screen and (max-width: 970px) {
    .page-header .hero-image {
        height: 600px;
    }
    .page-header .hero {
        margin-top: -600px;
        height: 600px;
    }

    .cards-container .left-column .card {
        height: 200px;
    }

    .cards-container .right-column .card {
        height: 300px;
    }

    .column .card .card-content {
        padding: 30px 20px;
    }

    .portfolio-parallax {
        height: 790px;
    }

    .about-me .about-me-image {
        height: 600px;
    }

    .about-me .about-me-content {
        margin-top: -600px;
        height: 600px;
    }
}

@media only screen and (max-width: 850px) {
    .portfolio-container {
        margin: 0 15px;
    }
}

@media only screen and (max-width: 765px) {
    .portfolio-container {
        width: 100%;
    }

    .portfolio-container .portfolio-title {
        margin-left: 14%;
    }

    .portfolio-parallax {
        display: none;
    }
}

@media only screen and (max-width: 620px) {
    .header-container .header-title {
        margin-left: 10px;
    }
    .header-container .header-nav {
        margin-right: 0;
    }

    .portfolio-container {
        margin: 0 5px;
    }

    .portfolio-container .portfolio-title {
        margin-left: 0;
        justify-content: center;
    }

    .about-me .about-me-content-container {
        align-items: center;
    }

    .about-me .about-me-title {
        margin-left: 0;
    }

    .about-me .about-me-text {
        margin-left: 0;
    }
}

@media only screen and (max-width: 530px) {
    .portfolio-container .cards-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .portfolio-container .cards-container .column {
        width: 90%;
    }

    .portfolio-container .cards-container .column .card {
        margin-bottom: 40px;
        height: 300px;
    }
}

@media only screen and (max-width: 510px) {
    .header-container .header-title {
        display: none;
    }

    .header-container .header-nav {
        justify-content: space-between;
        width: 100%;
        padding: 0 15px;
    }

    .header-container .header-nav a {
        margin-right: 0;
    }

    .about-me .about-me-content-container {
        padding: 15px;
    }
}

@media only screen and (max-width: 350px) {
    .hero-content .hero-title {
        margin-left: 10px;
    }
}